// reset element-UI

.el-main,.el-container,.el-footer
  padding 0
  margin 0 0 0 0
// .el-button,.el-input__inner
//   border-radius 0
// .el-input-group__append, .el-input-group__prepend
//   border-radius 0
.el-button--primary:hover 
  background-color: #FF8934;
  border-color: #FF8934;
  @media (min-width 768px) {
  .el-col-sm-6{
    width: 24%
    }
  .el-col-sm-12{

    width: 49%
  }
    
  }
