/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .25s ease;
}
.slide-fade-leave-active {
  // transition: all .125s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(5rem);
  opacity: 0;
}

.fade-enter-active {
  // transition: opacity .5s
  transition: opacity 0.25s ease
}
.fade-leave-active {
  // transition: opacity .5s
  transition: opacity .15s ease
}
// .fade-enter-active, .fade-leave-active, .fade-enter-to {
//   // transition: opacity .5s
//   transition: opacity .5s
// }
.fade-enter, .fade-leave-to {
  opacity: 0.1
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-up-enter-active {
  transition: all .3s ease;
}
.slide-fade-up-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-up-enter, .slide-fade-up-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(-1rem);
  opacity: 0;
}
